@import url('https://fonts.cdnfonts.com/css/poppins');
                
*,
*::before,
*::after {
  font-family: 'poppins', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ededed;
  background-color: #320643;
  height: 100vh;
}

