.nav {
    min-height: 3em;
    width: 100%;
}
  
.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 1rem; 
    right: 0;
}

.nav-toggle img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-toggle .hamburger {
    margin-top: 0.2rem;
}

.nav-toggle .close {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-checkbox {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: left;
    margin: 1rem;
}

.nav-menu li {
    list-style: none;
    display: none;
}

.nav-menu .logo {
    font-size: 2.25em;
    font-weight: 650;
    margin-right: auto;
    display: block;
}

.nav-menu a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: inherit;
}

#nav-checkbox:checked ~ .nav-menu li {
    display: block;
}

#nav-checkbox:checked ~ .nav-toggle .close {
    opacity: 1;
}

#nav-checkbox:checked ~ .nav-toggle .hamburger {
    opacity: 0;
}
  
.nav a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #efefef;
    transition: width 0.25s linear;
}

.nav a:hover::after {
    width: 100%;
}
  
@media only screen and (min-width: 780px) {
    .nav {
        overflow: hidden;
    }

    .nav .nav-toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        width: 75%;
    }

    .nav li {
        display: block;
        font-size: 1em;
    }

    .nav .logo {
        font-size: 3em;
        margin-right: 3em;
        margin-left: 3rem;
    }
}
  